{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "eslint-config-prettier",
    "plugin:@tanstack/eslint-plugin-query/recommended",
  ],
  "settings": {
    "react": {
      // Tells eslint-plugin-react to automatically detect the version of React to use.
      "version": "detect",
    },
    // Tells eslint how to resolve imports
    "import/resolver": {
      "node": {
        "paths": ["app", "screens", "components"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
      },
    },
  },
  "ignorePatterns": ["dist", ".eslintrc"],
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false,
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
  },
  "plugins": ["simple-import-sort", "@tanstack/query"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
  },
}
